<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="author" content="Helen Fu">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>

</head>

<body onload="addYear()">
    <img id="logo" src="../static/monomuse_logo_w.png" alt="MonoMuse Museum Logo">

    <nav>
        <a href="../index.html">Home</a>
        <a href="./explore.html">Explore</a>
        <a href="./exhibitions.html">Exhibitions</a>
        <a class="cta" href="./tickets.html">Tickets</a>
    </nav>

    <h1>Checkout</h1>

    <div>
        <form>
            <label for="fullName">Name: (required)</label><br>
            <input type="text" id="fullName" name="fullName"><br><br>

            <label for="email">Email: (required)</label><br>
            <input type="email" id="email" name="email"><br><br>

            <label for="ticketNum">Ticket Quantity: (required)</label><br>
            <input type="number" id="ticketNum" name="ticketNum"><br><br>

            <input type="submit" value="Submit"><br><br>
        </form>
    </div>

    <footer><p id="copyYear"></p></footer>
</body>
    
</html>