<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="author" content="Helen Fu">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>

</head>

<body onload="addYear()">
    <img id="logo" src="../static/monomuse_logo_w.png" alt="MonoMuse Museum Logo">

    <nav>
        <a href="../index.html">Home</a>
        <a id="navselected" href="./explore.html">Explore</a>
        <a href="./exhibitions.html">Exhibitions</a>
        <a class="cta" href="./tickets.html">Tickets</a>
        
    </nav>

    <h1>Explore</h1>

    <div>
        <img src="../static/monomuse.jpg" width="600" alt="Front of MonoMuse Museum">

        <h2>Mission Statement</h2>
        <p>
            Monomuse's goal is to visually explore the evolving relationship
            between art, technology, and society. Our mission is to inspire
            curiosity and creativity to the people through innovative exhibitions that
            highlight digital tools, emerging technologies, and human imagination&mdash; all of which
            shape the future of artistic expression.
        </p>
        <h2>Milestones</h2>
        <ul>
            <li>2023: Expansion of the museum space and launch of international artist collaborations.</li>
            <li>2018: Launch of the Interactive Media Lab, allowing visitors to experiment with creative coding.</li>
            <li>2016: MonoMuse is founded and opens it doors with Exhibition 1: Digital Storytelling.</li>
        </ul>
        </div>

    <footer><p id="copyYear"></p></footer>
</body>

</html>