<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="author" content="Helen Fu">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
</head>
<body>
    <h1>Checkout</h1>

    <nav>
        <a href="../index.html">Home</a>
        <a href="./explore.html">Explore</a>
        <a href="./exhibitions.html">Exhibitions</a>
        <a href="./tickets.html">Tickets</a>
        <a href="./checkout.html">Checkout</a>
    </nav>

    <div>
        <form>
            <label for='fullName'>Name: (required)</label></label><br>
            <input type='text' id='fullName' name='fullName'><br><br>

            <label for='email'>Email: (required)</label></label><br>
            <input type='email' id='email' name='email'><br><br>

            <label for='ticketNum'>Ticket Quantity: (required)</label></label><br>
            <input type='number' id='ticketNum' name='ticketNum'><br><br>

            <input type='submit' value="Submit"><br><br>
        </form>
    </div>

    <footer>&copy; 2026 MonoMuse. All rights reserved.</footer>
</body>
    
</html>